<div class="navbar flex justify-center bg-base-100">
  <a href="{{ site.baseurl }}/pages/heap_sort.html" class="btn btn-ghost ml-16">Heap Sort</a>
  <a href="{{ site.baseurl }}/pages/merge_sort.html" class="btn btn-ghost">Merge Sort</a>
  <a href="{{ site.baseurl }}/pages/quick_sort.html" class="btn btn-ghost">Quick Sort</a>
  <a href="{{ site.baseurl }}/pages/insertion_sort.html" class="btn btn-ghost">Insertion Sort</a>
  <a href="{{ site.baseurl }}/pages/bubble_sort.html" class="btn btn-ghost">Bubble Sort</a>
  <a href="{{ site.baseurl }}/pages/bogo_sort.html" class="btn btn-ghost">Bogo Sort</a>
  <a href="{{ site.baseurl }}/pages/fibonacci.html" class="btn btn-ghost ml-26">Fibonacci</a>
</div>
